APP_ENV=development
APP_NAME="Mobile Business Network"
APP_URL=http://localhost:8000
APP_DOMAIN=localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mbn
DB_USER=root
DB_PASS=

ADMIN_EMAIL=ops@mbn.example
MAIL_FROM=noreply@mbn.example
MAIL_ENABLED=false
